<!--User profile tabbed interface-->
<div class="media-body">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-0 mb-3 display-4">
      <%= user.username %>
    </h1>
  </div>

<!--New pill bar (WIP)-->
  <div class="mb-4 d-flex justify-content-between">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <%= link_to "#",
          data: { 
            bs_toggle: "modal", 
            bs_target: "##{dom_id(user)}_followers" 
          }, 
            class: "nav-link" do %>
            
          <span class="font-weight-bold">
            <%= user.followers.size %>
          </span>

          Followers

        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to "#",
          data: {
            bs_toggle: "modal",
            bs_target: "##{dom_id(user)}_leaders"
          },
            class: "nav-link" do %>

          <span class="font-weight-bold">
            <%= user.leaders.size %>
          </span>

          Following

        <% end %>
      </li>

      <% if policy(@user).update? %>
        <li class="nav-item">
          <%= link_to "#",
            data: {
              bs_toggle: "modal",
              bs_target: "##{dom_id(user)}_pending"
            },
              class: "nav-link" do %>

          <span class="font-weight-bold">
            <%= user.pending.size %>
          </span>

          Pending

          <% end %>
        </li>
        
      <% end %>
    </ul>
  </div>

  <div class="row mb-3">
    <div class="col">
      <% follow_request = current_user.pending_received_follow_requests.find_by(sender: @user) %>

      <% if follow_request %>
        <p class="lead text-center">
          <%= @user.username %> has sent you a follow request.
        </p>

        <% follow_request.status = "accepted" %>

        <%= form_with(model: follow_request) do |form| %>
          <%= form.hidden_field :status %>

          <%= form.submit "Accept follow request", class: "btn btn-outline-success btn-block mb-3" %>
        <% end %>

        <% follow_request.status = "rejected" %>

        <%= form_with(model: follow_request) do |form| %>
          <%= form.hidden_field :status %>

          <%= form.submit "Reject follow request", class: "btn btn-outline-danger btn-block mb-3" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <%= render "follow_requests/follow_unfollow", sender: current_user, recipient: @user %>
    </div>
  </div>
  

<!--Original pill bar-->
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to "Posts", user_path(user.username), class: "nav-link active" %>
    </li>

    <li class="nav-item">
      <%= link_to "#",
        data: { 
          bs_toggle: "modal", 
          bs_target: "##{dom_id(user)}_followers" 
        }, 
          class: "nav-link" do %>
          
        <span class="font-weight-bold">
          <%= user.followers.size %>
        </span>

        Followers

      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#",
        data: {
          bs_toggle: "modal",
          bs_target: "##{dom_id(user)}_leaders"
        },
          class: "nav-link" do %>

        <span class="font-weight-bold">
          <%= user.leaders.size %>
        </span>

        Following

      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#",
        data: {
          bs_toggle: "modal",
          bs_target: "##{dom_id(user)}_pending"
        },
          class: "nav-link" do %>

      <span class="font-weight-bold">
        <%= user.pending.size %>
      </span>

      Pending

      <% end %>
    </li>
  </ul>

  <!--Follow button-->
  <%= render "follow_requests/follow_unfollow", sender: current_user, recipient: @user %>
</div>

<!-- modals -->
<%=
  render "users/connected_users_modal",
    user: user,
    connected_users: user.followers,
    description: "followers",
    target: "#{dom_id(user)}_followers"
%>

<%= 
  render "users/connected_users_modal",
    user: user,
    connected_users: user.leaders,
    description: "following",
    target: "#{dom_id(user)}_leaders"
%>

<%= 
  render "users/connected_users_modal",
    user: user,
    connected_users: user.pending,
    description: "pending",
    target: "#{dom_id(user)}_pending"
%>
