<!--User profile tabbed interface-->
<div class="media-body>
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-0 mb-3 display-4">
      <%= user.username %>
    </h1>
  </div>

  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to "Posts", user_path(user.username), class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "#",
        data: { 
          bs_toggle: "modal", 
          bs_target: "##{dom_id(user)}_followers" 
        }, 
          class: "nav-link" do %>
          
        <span class="font-weight-bold">
          <%= user.followers.size %>
        </span>

        Followers

      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#",
        data: {
          bs_toggle: "modal",
          bs_target: "##{dom_id(user)}_leaders"
        },
          class: "nav-link" do %>

        <span class="font-weight-bold">
          <%= user.leaders.size %>
        </span>

        Following

      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#",
        data: {
          bs_toggle: "modal",
          bs_target: "##{dom_id(user)}_pending"
        },
          class: "nav-link" do %>

      <span class="font-weight-bold">
        <%= user.pending.size %>
      </span>

      Pending

      <% end %>
    </li>
  </ul>

  <!--Follow button-->
  <%= render "follow_requests/follow_unfollow", sender: current_user, recipient: @user %>
</div>

<!-- modals -->
<%=
  render "users/connected_users_modal",
    user: user,
    connected_users: user.followers,
    description: "followers",
    target: "#{dom_id(user)}_followers"
%>

<%= 
  render "users/connected_users_modal",
    user: user,
    connected_users: user.leaders,
    description: "following",
    target: "#{dom_id(user)}_leaders"
%>

<%= 
  render "users/connected_users_modal",
    user: user,
    connected_users: user.pending,
    description: "pending",
    target: "#{dom_id(user)}_pending"
%>
