<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<hr>

<!--  <div>
    <select class="form-select form-select-sm" aria-label="Small select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>-->
  
  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.number_field :product_id %>
  </div>
  
  <div>
    <%= form.label :rating %>
    <%= form.select :rating,
      (1..10).map { |i| [i, i] },
      { prompt: 'Select one' },
      { class: 'form-select', 'aria-label' => 'Default select example' } %>
  </div>

  <div>
    <%= form.label :would_repurchase %>
    <%= form.select :would_repurchase, 
      [['Select one', nil], ['Yes', "yes"], ['No', "no"], ['Maybe', "maybe"]], 
      { prompt: true }, 
      { class: 'form-select', 'aria-label' => 'Default select example' } %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.label :visibility %>
    <%= form.select :visibility, 
      [['Select one', nil], ['Only me', "only_me"], ['Followers', "followers_only"], ['Everyone', "everyone"]], 
      { prompt: true }, 
      { class: 'form-select', 'aria-label' => 'Default select example' } %>
  </div>

  <div>
    <%= form.label :published, style: "display: block" %>
    <%= form.check_box :published %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
