<div id="<%= dom_id review %>">
  <p>
    <strong>Owner:</strong>
    <%= review.owner_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= review.product_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Would repurchase:</strong>
    <%= review.would_repurchase %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= review.visibility %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= review.published %>
  </p>

</div>
