<div class="card mb-3" style="max-width: 25rem;">
  <h3 class="card-header"><%= review.product.name %></h3>
  <div class="card-body">
    <h5 class="card-title">Rating: <%= review.rating %>/10</h5>
    <h6 class="card-subtitle mb-2 text-muted">Would Repurchase? <%= review.would_repurchase.capitalize %></h6>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Notes: <%= review.body %></li>
    <li class="list-group-item">Media:
      <div>
        <!-- Cloudinary Media -->
        <img src="<%= review.image.url %>" class="img-responsive" width="350" alt="Media Image">
      </div>
    </li>
  </ul>
  <div class="card-body">
    <%= link_to "#{review.owner.username}", user_path(username: review.owner.username), class: "card-link" %>
    <%= link_to "Show this review", review, class: "card-link" %>
  </div>
  <div class="card-footer text-muted">
    <%= Time.now.strftime("%d %B, %Y") %>
  </div>
</div>
