<div id="<%= dom_id review %>">
  <p>
    <strong>Owner:</strong>
    <%= review.owner.username %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= review.product.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Would Repurchase:</strong>
    <%= review.would_repurchase %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= review.visibility %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= review.published %>
  </p>

</div>
lol
<!---->
  <%# @user.own_reviews.each do |review| %>
<!--      <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">

              <h5 class="card-title">
                Product: <%#= review.product.name %>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <div>
                  Rating: <%#= review.rating %>/10
                </div>
                <div>
                  Would Repurchase? <%#= review.would_repurchase.capitalize %>
                </div>
              </h6>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Body: <%#= review.body %></li>
            </ul>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Media:
                <div>
                  <%# review.media.each do |media| %>-->
                    <%#= image_tag media.file %>
                  <%# end %>
<!--                </div>
              </li>
            </ul>

            <div class="card-body">
              <a href="#" class="card-link"><%#= review.owner.username %></a>
              <a href="#" class="card-link">Show details</a>
            </div>
            
          </div>
        </div>
      </div>
  <%# end %>-->
<!---->
